body{
    background-color: #8AB0AB;
    margin: auto;
    scroll-behavior: smooth;
}

h1{
    font-family: 'Lemonada', cursive;
    color: #1A1D1A;
}

h2{
    font-family: 'Sriracha', cursive;
    color: #1A1D1A;
}

h3{
    font-family: 'Poppins', sans-serif;
    color: #1A1D1A;
    text-align: center;
}

p{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    color: #1A1D1A;
}

a{
    text-decoration: none;
    color: #1A1D1A;
    transition: all 300ms ease-out;
}

a:hover{
    color: #3E505B;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footer p{
    font-family: 'Sriracha', cursive;
    font-size: 18px;
}

.weather-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;

}

.weatherCard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;

    border-radius: 20px;
    height: 50%;

    padding: 40px;

    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.formContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

#zipCode{
    border-radius: 20px;
    padding: 20px;
    border: 0px solid transparent;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#submitBtn{
    border-radius: 100%;
    padding: 20px;
    border: 0px solid transparent;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: all 300ms ease-out;
}

#submitBtn:hover{
    background-color: #3E505B;
}

input:focus{
    outline-color: transparent;
    outline-width: 0px;
}
